<a href="https://colab.research.google.com/github/Shakawath006/Assignment-1/blob/main/NoteBook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [9]:
x=7 
y=3
print(x+y)

10


total = x+y 
print(total)

10


name = "Adam"
name2 = "Eva"
print(name , name2)

10
10
Adam Eva

In [10]:
x =10
type(x)

int


type(10.5)

float


type(name)

str

In [23]:
x = 105
y = 100



x>y

True


x<y

False


x==y

False


x!=y

True


x>=y

True


x<=y

False


x = 3
y = 10



1 <= x <= 5

True


1 <= y <= 5

False

False

In [30]:

print('Welcome', 'to', 'Python!')

print('Welcome\nto\n\nPython!')

Welcome to Python!
Welcome
to

Python!

In [32]:

print('this is a longer string, so we \ split it over two lines')


print('Sum is', 7 + 3)

this is a longer string, so we \ split it over two lines
Sum is 10

In [33]:

print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

In [37]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) 



print('Display "hi" in quotes')

int(5.2) truncates 5.2 to 5
Display "hi" in quotes

In [38]:
print('Display \'hi\' in quotes')

Display 'hi' in quotes

In [40]:

print("Display the name O'Brien")


print("Display \"hi\" in quotes")


print("""Display "hi" and 'bye' in quotes""")

Display the name O'Brien
Display "hi" in quotes
Display "hi" and 'bye' in quotes

In [50]:


a = 3.4536475856
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.2f' %a)



# using "%" to print value till 4 decimal places
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.4f' %a)


name = input("What's your name? ")



print(name)




value1 = input('Enter first number: ') 
value2 = input('Enter second number: ')

The value of number till 2 decimal place(using %) is : 3.45
The value of number till 2 decimal place(using %) is : 3.4536
What's your name? sifat
sifat
Enter first number: 12
Enter second number: 11

In [ ]:

a, b = input().split()


print(a , b)

print(type(a))

In [61]:
number1 = int(input('Enter first integer: ')) 
number2 = int(input('Enter second integer: ')) 
number3 = int(input('Enter third integer: '))


min(number1,number2,number3)
2
max(number1,number2,number3)

print('x =', x)
print('Value of', x, '+', x, 'is', (x + x)) 
print('x =')
print((x + y), '=', (y + x))

Enter first integer: 2
Enter second integer: 2
Enter third integer:

ValueError: ignored